{% extends 'base.html' %}

{% load static %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account_style.css' %}">

<div class="row">
  <div class="col-md-6 offset-md-3">
    {% include 'includes/messages.html' %}
  </div>
</div>

<div class="custom-container">
    <div class="form">
        <div class="logo" >
            <img src="{% static 'img/ljku.jpg' %}">
        </div>
      <header>Enter New Password</header>
      <form method="post", action="{% url 'reset-password' %}">
        {% csrf_token %}
        <input type="password" placeholder="Create a password" name="password" required>
        <input type="password" placeholder="Confirm your password" name='confirm_password' required>
        <input type="submit" class="button" value="Change password">
      </form>
    </div>
</div>



{% endblock %}